doctype 5

html(ng-app="atmosphereWeatherStation")

head
  title Spark by CircuitHub
  link(rel="StyleSheet", href="stylesheets/app.css", type="text/css", media="screen")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
  script(type="text/javascript", src="https://cdn.firebase.com/v0/firebase.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
  script(type="text/javascript", src="javascripts/vendor.js")
  // script(type="text/javascript", src="javascripts/ui-bootstrap-tpls-0.4.0.min.js")
  script(type="text/javascript", src="javascripts/app.js")

body

  h1 Spark
  span.subtitle By CircuitHub
  div(ng-controller='TabsDemoCtrl')
    h2 {{navType}}
    tabset
      tab(heading='Static title1') Static content1
      tab(heading='Static title2') Static content2
      tab(heading='Static title3') Static content3