head
  title Spark by CircuitHub
  link(rel="StyleSheet", href="stylesheets/app.css", type="text/css", media="screen")
  script(type="text/javascript", src="https://cdn.firebase.com/v0/firebase.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
  script(type="text/javascript", src="javascripts/app.js")

body(ng-app)

  h1(onclick="hi();") Spark
  span.subtitle By CircuitHub
