.header
  h1 Atmosphere
  span.subtitle By CircuitHub

br

.content(ng-controller='TabsDemoCtrl')    
  tabset
    tab(heading='Status') 
      include status
    tab(heading='Rain Drops (Jobs)') 
      include drops
    tab(heading='Control Panel') 
      include controls
